<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>授权回调</title>
</head>

<body>
    <h1>授权回调2222</h1>
</body>

<script>
    $(() => {
        console.log("wxjspay");
        // $.ajax({
        //     url:"http://41032k13s7.wicp.vip/wx/getAccessToken",
        //     type:"GET",
        //     data:{
        //         code:code
        //     },
        //     success:(res)=>{
        //         console.log("res",res)
        //     },
        //     error:(err)=>{
        //         console.log("err",err)
        //     }
        // })
    })
</script>

</html>