<template>
  <div class="all-report">
    <div>
      <label
        ><input
          type="file"
          ref="input"
          multiple
          @change="changeFile($event)"
        />文件</label
      >
      <button @click="submit">提交文件</button>
    </div>
  </div>
</template>

<script>
import Qs from "qs";
import {
  Button,
  Search,
  popup,
  picker,
  DatetimePicker,
  Icon,
  Empty,
  Notify,
  Loading,
  Divider,
  Image
} from "vant";
export default {
  name: "myAllReports",
  data() {
    return {
      endflag: false,
      loading: false,
      topflag: false,
      loadingfun: "",
      emptyflag: false,
      count: 20,
      reportList: [],
      page: 0,
      pageSize: 10,
      selectTableName: "",
      selectTableCode: "",
      selectStartDate: "",
      selectEndDate: "",
      showPickerCode: false,
      showPickerStartDate: false,
      showPickerEndDate: false,
      columns: [],
      minDate: new Date(2019, 5, 1),
      maxDate: new Date(),
      currentDate1: new Date(),
      currentDate2: new Date(),
      loadingFlag: true,
      file: ""
    };
  },
  computed: {
    noMore() {
      return false;
    }
  },
  components: {
    "van-button": Button,
    "van-picker": picker,
    "van-popup": popup,
    "van-search": Search,
    "van-datetime-picker": DatetimePicker,
    "van-icon": Icon,
    "van-empty": Empty,
    "van-loading": Loading,
    "van-divider": Divider,
    "van-image": Image
  },
  filters: {
    filterdate(e) {
      return e.substr(0, 10);
    }
  },
  methods: {
    changeFile(e) {
      console.log(e.target.files[0]);
      //文件读取完毕触发onload事件
      this.file = e.target.files[0];
    },
    submit() {
      const fileReader = new FileReader();
      fileReader.readAsArrayBuffer(this.file);
      fileReader.onload = () => {
        //把ArrayBuffer对象转换为数组
        const arrayBuffer = Array.from(new Uint8Array(fileReader.result));
        let that = this;
        let data = {
          fileName: that.file.name,
          arrayBuffer: arrayBuffer
        };
        that
          .$http({
            method: "post",
            url: "http://192.168.3.117:3000/upload/submitFile",
            data: data
          })
          .then(
            res => {
              console.log("成功", res);
            },
            err => {
              console.log("异常", err);
            }
          );
      };
    },
    resetTj() {
      this.selectTableCode = "";
      this.selectTableName = "";
      this.selectStartDate = "";
      this.selectEndDate = "";
      this.emptyflag = false;
      this.getReportListData("scroll", "search");
    },
    getCodeLst() {
      let that = this;
      let data = {
        userId: that.$store.state.user_uuid
      };
      that
        .$http({
          method: "post",
          url: "/examine/getReportTables",
          data: Qs.stringify(data)
        })
        .then(
          res => {
            console.log(res);
            if (res.data.data.reportTables) {
              let codeList = JSON.parse(
                JSON.stringify(res.data.data.reportTables)
              );
              that.columns = codeList;
            }
            that.showPickerCode = true;
          },
          err => {
            console.log(err);
            Notify({
              type: "danger",
              message: "接口异常！",
              duration: 800
            });
          }
        );
    },
    onConfirmCode(value, index) {
      console.log("onConfirmCode", value, index);
      this.selectTableName = value.chinese_name;
      this.selectTableCode = value.table_code;
      this.showPickerCode = false;
      this.getReportListData("scroll", "search");
    },
    onConfirmStartDate(value) {
      console.log("onConfirmStartDate", value, this.currentDate1);
      let end;
      if (this.selectEndDate) {
        end = +new Date(this.currentDate2);
        end = end / 1000;
        let star = +new Date(value);
        star = star / 1000;
        if (star > end) {
          Notify({
            type: "warning",
            message: "开始时间不能大于结束时间"
          });
          this.showPickerStartDate = false;
          return false;
        }
      }
      let d = new Date(value);
      let month = d.getMonth() + 1;
      if (month < 10) {
        month = "0" + month;
      }
      let date = d.getDate();
      if (date < 10) {
        date = "0" + date;
      }
      let datetime = d.getFullYear() + "-" + month + "-" + date;
      this.selectStartDate = datetime;
      this.showPickerStartDate = false;
      this.getReportListData("scroll", "search");
    },
    onConfirmEndDate(value) {
      console.log("onConfirmEndDate", value);
      let star = +new Date(this.currentDate1);
      star = star / 1000;
      let end = +new Date(value);
      end = end / 1000;
      if (star > end) {
        Notify({
          type: "warning",
          message: "结束时间不能小于开始时间"
        });
        this.showPickerEndDate = false;
        return false;
      }
      let d = new Date(value);
      let month = d.getMonth() + 1;
      if (month < 10) {
        month = "0" + month;
      }
      let date = d.getDate();
      if (date < 10) {
        date = "0" + date;
      }
      let datetime = d.getFullYear() + "-" + month + "-" + date;
      this.selectEndDate = datetime;
      this.showPickerEndDate = false;
      this.getReportListData("scroll", "search");
    },
    showSelectStartDate() {
      this.showPickerStartDate = true;
    },
    showSelectEndDate() {
      this.showPickerEndDate = true;
    },
    onCancel() {
      this.getReportListData("scroll", "search");
    },
    gotop() {
      window.scrollTo(0, 0);
    },
    getReportListData(type, state) {
      let that = this;
      console.log("getReportListData", state);
      if (type == "scroll") {
        if (that.loading) {
          console.log("禁止请求");
          return false;
        }
      }
      if (type == "scroll") {
        that.loading = true;
      }
      console.log("发起请求");
      that.page += 1;
      if (state == "search") {
        that.page = 1;
        that.endflag = false;
        that.emptyflag = false;
      }
      let data = {
        user_uuid: that.$store.state.user_uuid,
        page: that.page,
        pageSize: that.pageSize,
        table_code: that.selectTableCode,
        startTime: that.selectStartDate,
        endTime: that.selectEndDate
      };
      that
        .$http({
          method: "post",
          url: "/examine/getUserReportList",
          data: Qs.stringify(data)
        })
        .then(
          res => {
            if (res.data.code == "1") {
              if (state == "search") {
                that.reportList = [];
              }
              that.reportList.push.apply(
                that.reportList,
                res.data.data.listUserTask
              );
              if (res.data.data.listUserTask.length != "10") {
                if (
                  res.data.data.listUserTask.length == "0" &&
                  that.reportList.length == "0"
                ) {
                  that.emptyflag = true;
                } else {
                  that.endflag = true;
                }
              }
            } else {
              Notify({
                type: "warning",
                message: "接口异常！",
                duration: 800
              });
            }
            that.loading = false;
            if (type == "load") {
              that.loadingFlag = false;
            }
          },
          err => {
            console.log(err);
            Notify({
              type: "danger",
              message: "接口异常！",
              duration: 800
            });
            if (type == "load") {
              that.loading = false;
              that.loadingFlag = false;
            }
          }
        );
    },
    getReport(id, code) {
      let url;
      console.log("code", code);
      if (code == "Iad") {
        url = "/iphoneWallowReport";
      } else if (code == "Scl901" || code == "Scl90") {
        url = "/sclreport";
      } else if (code == "Psqi2") {
        url = "/sleepReport";
      } else {
        url = "/zpIsFacReport";
      }
      this.$router.push({
        path: url,
        query: {
          id: id,
          shareFlag: 0,
          code: code
        }
      });
    },
    onscroll() {
      //变量scrollTop是滚动条滚动时，距离顶部的距离
      let scrollTop =
        document.documentElement.scrollTop || document.body.scrollTop;
      //变量windowHeight是可视区的高度
      let windowHeight =
        document.documentElement.clientHeight || document.body.clientHeight;
      //变量scrollHeight是滚动条的总高度
      let scrollHeight =
        document.documentElement.scrollHeight || document.body.scrollHeight;
      //滚动条到底部的条件
      if (scrollTop > windowHeight) {
        this.topflag = true;
      } else {
        this.topflag = false;
      }
      if (scrollTop + windowHeight >= scrollHeight - 20) {
        if (!this.endflag) {
          if (this.$route.name == "myAllReports") {
            console.log("发起请求");
            this.getReportListData("scroll");
          }
        }
      }
    }
  },
  activated() {
    let reportDot = this.$store.state.reportDot;
    if (reportDot == "1") {
      this.getReportListData("scroll", "search");
      setTimeout(() => {
        this.$store.commit("setReportDot", 0);
      }, 1000);
    }
  },
  created() {
    this.$nextTick(() => {
      let channelColor = window.sessionStorage.getItem("theme-color");
      if (channelColor) {
        document
          .getElementsByClassName("all-report")[0]
          .style.setProperty("--main-color", channelColor);
        document
          .getElementsByClassName("all-report")[0]
          .style.setProperty(
            "--bg-img",
            'url("./static/img/report/topbg2.jpg")'
          );
      }
    });
  },
  destroyed() {
    window.removeEventListener("scroll", this.onscroll, true);
  },
  mounted() {
    document.getElementsByTagName("body")[0].style.height = "auto";
    document.getElementById("app").style.height = "auto";
    this.getReportListData("load");
    window.addEventListener("scroll", this.onscroll, true);
  }
};
</script>

<style scoped>
.all-report {
  --main-color: #5eb4e9;
  --bg-img: url("../../../static/img/report/topbg.jpg");
}

.all-report {
  width: 100%;
  overflow-y: scroll;
  padding: 0px 0px 70px 0px;
  height: 100%;
  user-select: none;
}

.search-block {
  margin-top: 10px;
  padding: 25px 10px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: calc(100% - 20px);
  margin: 10px;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-image: var(--bg-img);
}

.bottom-search {
  display: flex;
  justify-content: space-between;
  padding: 8px 10px;
  margin: 5px 0px;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
}

.list-block {
  width: 100%;
  padding: 0px 10px;
}

.block-content {
  text-align: center;
  background: #ffffff;
  /* background: linear-gradient(45deg, #c6e8f7, rgb(228 236 218));
     */
  box-shadow: 1px 1.3px 1px 1px #eaeaea;
  margin-top: 10px;
  border-radius: 5px;
}

.condition-block {
  display: flex;
  align-items: center;
  flex: 1;
}

.margin-info {
  margin: 0px 5px 0px 3px;
}

.li-d-block {
  display: flex;
  padding: 10px 0px;
}

.left-block {
  width: 25%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.left-block img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.right-block {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.r-block {
  display: flex;
}

.tableinfo {
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: 2px 0px;
  padding-bottom: 0px;
}

.el-divider--horizontal {
  opacity: 0.5 !important;
}

.l-b,
.r-b {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.v-text {
  font-size: 13px !important;
}

.label {
  font-size: 13px;
  letter-spacing: 1.5px;
}

.block-content :active {
  /* opacity: 0.7;
     */
  background-color: rgba(80, 138, 167, 0.2);
}

.is-center {
  background: #eeeeee !important;
}

.index-text {
  position: absolute;
  top: -4px;
  left: 3px;
  font-size: 11.2px;
  color: #1165a9;
  transform: scale(0.9);
}

.bottom-tip {
  margin: 35px 0px;
  /* padding: 15px 0px;
     */
}

.el-icon-upload2 {
  position: fixed;
  right: 4%;
  bottom: 6%;
  font-size: 26px;
  color: #1165a9;
  border: 10px solid transparent;
}

.reset-block {
  padding: 3px 5px;
  background: var(--main-color);
  color: #ffffff;
  border-radius: 3px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.9);
}

.reset-block:active {
  opacity: 0.6;
  display: inline-block;
}

.choose-block,
.van-search__action div {
  color: var(--main-color);
}

.choose-block:active {
  opacity: 0.6;
  display: inline-block;
  color: var(--main-color);
}

.l-icon {
  font-size: 16px;
  color: var(--main-color);
}

.fadeIn {
  animation-duration: 2s;
}

.v-text {
  /* color:#1989fa;
     */
}

.emptyblock {
  background: #fff !important;
}
</style>
